.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.jour{
    font-weight: 700;
}

.weekend{
    background-color: red;
}