.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.jour{
    font-weight: 700;
}

.weekend{
    background-color: red;
}




.navigation-calendrier{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
}